
// Colors
$color-background  : #000;
$color-text        : #fff;
$color-highlight   : #2C75FF;
$color-transparant : rgba(0,0,0,0);

// Font
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
$font-family-local-only : monospace;
$font-family            : 'Cutive Mono', monospace;