// @import "bourbon";
@import "../global/base";
@import "block";

#main {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  
  // Grid
  display: grid;
  grid-template-columns: [search-start] 0 [queue-start] 100% [queue-end];
  grid-template-rows: [upper-start] auto [lower-start] auto [lower-end];
}

@media screen and (min-width: $width-wide-start) {
  #main {
    grid-template-columns: [search-start] 50% [queue-start] 50% [queue-end];
    grid-template-rows: [upper-start] auto [lower-start] auto [lower-end];
  }
}