
// Colors
$color-black       : #000;
$color-dark-gray   : #333;
$color-gray        : #888;
$color-light-gray  : #ccc;
$color-white       : #fff;
// Special
$color-theme       : #31a3f3;
$color-highlight   : $color-theme;
$color-transparant : rgba(0,0,0,0);
$color-background  : $color-black;
$color-text        : $color-white;

// Font
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
$font-family-local-only : monospace;
$font-family            : 'Cutive Mono', monospace;

// Sizes
$width-wide-start : 400px;